#root {
  max-width: 1280px;
  margin: 0;
  height: 100vh;
}

.app {
  font-family: Arial, sans-serif;
  position: relative;
}

.call-icon {
  cursor: pointer;
  position: fixed;
  bottom: 50px;
  right: 50px;
}
.make-call {
  background-color: #00a300;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.bounce {
  animation: bounce 2s;
}
.end-call {
  background-color: red;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.call-modal {
  background-color: #242424;
  height: 160px;
  width: 300px;
  border-radius: 12px;
  position: absolute;
  bottom: 55px;
  right: 0px;
  padding: 10px 8px;
}
img {
  border-radius: 50%;
}
.header {
  display: flex;
  gap: 15px;
}
.header-deets {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.header-deets p {
  margin-top: -10px;
  font-size: 14px;
}

.actions {
  display: flex;
  margin-top: 30px;
  padding: 0 60px;
  justify-content: space-between;
  align-items: center;
}
.action {
  cursor: pointer;
  background-color: black;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.muted-call {
  background-color: white;
  .mute {
    fill: red;
  }
}

.pause-call {
  background-color: white;
  .pause {
    stroke: red;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}
